// Миксины
@mixin flexbox() {display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;}
@mixin flexboxinline() {display: -webkit-inline-flex;display: -moz-inline-flex;display: -ms-inline-flex;display: -o-inline-flex;display: inline-flex;}

// Миксины

// Переменные
$minwidth:320px;
$mw:880;
$md1:$mw+12;
$md2:750;
$md3:767.98;
$md4:479.98;
// Переменные

// Обнуление стилей
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
// Обнуление стилей

// Подключаемые шрифты
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans&display=swap');
@font-face {
	font-family: 'AkzidenzGroteskBq';
	src: url(../fonts/akzidenz-grotesk-bq-bold.eot);
	src: url(../fonts/akzidenz-grotesk-bq-bold.eot?#iefix) format('embedded-opentype'),
		  url(../fonts/akzidenz-grotesk-bq-bold.svg#akzidenz-grotesk-bq-bold) format('svg'),
		  url(../fonts/akzidenz-grotesk-bq-bold.ttf) format('truetype'),
		  url(../fonts/akzidenz-grotesk-bq-bold.woff2) format('woff2'),
		  url(../fonts/akzidenz-grotesk-bq-bold.woff) format('woff');
 }
 //font-family: 'PT Sans', sans-serif;
 //font-family: 'Bebas Neue', cursive;
// Подключаемые шрифты

// Шрифт по умолчанию
body{font-family: 'PT Sans', sans-serif;}
// Шрифт по умолчанию

// Оболочка
.wrapper {width: 100%;min-height: 100%;overflow: hidden;
	@include flexbox();
	flex-direction: column;
}
// Оболочка

// Основная сетка
.container{max-width:$mw+px;margin: 0 auto;width: auto;
@media (max-width:($md1+px)){max-width: 750px;}
@media (max-width:($md2+px)){max-width: none;padding: 0 10px;}
}
// Основная сетка

// Подключение файлов стилей страниц и элементов

// Подключение файлов стилей страниц и элементов

// ОСНОВНОЙ БЛОК

//Header=========================================================
body{
	top:0 !important;
}
header{
	padding: 29px 0 33px 0;
	background-color: #fff;
	@media (max-width:($md2+px)){
		padding: 18px 0 18px 0;
	}
} 
.skiptranslate {
	display: none;
}
.header-top {
	@include flexbox();
	justify-content: space-between;
	@media (max-width:($md2+px)){
		justify-content: flex-end;
		padding: 25px 0 0 0;
	}
	@media (max-width:($md4+px)){
		padding: 15px 0 0 0;

	}

		&__link {
			position: relative;
			z-index: 11;
			font-family:'AkzidenzGroteskBq';
			text-transform: uppercase;
			text-decoration: underline;
			font-size: 12px;
			color:#000;
			@media (max-width:($md4+px)){
				font-size: 10px;
			}
		}
}
.header-top-lang {
	cursor: pointer;
@include flexbox();
@media (max-width:($md2+px)){
	margin: 0 0 15px 0;
}
		&__item {
			display: block;
			line-height: 19px;
			color: #000;
			font-size: 14px;
			text-transform: uppercase;
			font-family: 'Bebas Neue', cursive;
			padding: 0px 4px;
			margin: 0 10px 0 0;
			&.language__active{
				background-color: #000;
				color: #fff;
			}
		}
}
.header-bottom {
	margin: -10px 0 0 0;
@include flexbox();
align-items: center;
@media (max-width:($md2+px)){
	margin: -37px 0 0 0;
}
@media (max-width:($md4+px)){}
margin: -27px 0 0 0;
		&__column {
			flex: 0 0 33.333%;
		}

}
.header-bottom-menu {
	&--right{
		.header-bottom-menu-list{
			margin: 0;
			@include flexbox();
			justify-content: flex-end;
			text-align: right;
			li{margin: 0 0 0 45px;
			&:first-child{margin: 0;}
			&:last-child{margin: 0 0 0 45px;}
			@media (max-width:($md1+px)){
				&:last-child{margin: 0 0 0 20px;}
			}
			}
			@media (max-width:($md2+px)){
				display: block;
				text-align: left;
				li{margin: 0 0 15px 0;
					&:first-child{margin: 0 0 15px 0;}
					&:last-child{margin: 0;}}
			}
		}
	}

		&__link {
			font-family: 'AkzidenzGroteskBq';
			color: #000;
			font-size: 11px;
			text-transform: uppercase;
			letter-spacing: 1.5px;
		}
}
.header-bottom-menu-list {
	@include flexbox();
	li{margin: 0 45px 0 0;
	&:last-child{margin: 0 0 0 0;}
	}
	@media (max-width:($md1+px)){
	li{margin: 0 20px 0 0;}
	}
	@media (max-width:($md2+px)){
		display: block;
		li {margin: 0 0 15px 0;
		&:last-child{margin: 0 0 15px 0;}}
	}
}
.header-logo {
text-align: center;
position: relative;
z-index: 11;
display: block;
		&__text {
			display: block;
			color: #000;
			font-family:'Bebas Neue', cursive;
			font-size: 10px;
			text-transform: uppercase;
			letter-spacing: 8px;
			@media (max-width:($md2+px)){
				font-size: 8px;
			}
			@media (max-width:($md4+px)){
				letter-spacing: 5px;
			}
		}

		&__image {
			display: block;
			margin: 13px 0 22px 0;
			@media (max-width:($md2+px)){
				margin: 2px 0 5px 0;
				img {width: 150px;}
			}
			@media (max-width:($md4+px)){
				margin: 0 0 2px 0;
				img {width: 100px;}
			}
		}
}

// Меню "Бургер"==================================
@media (max-width:($md2+px)){

	.header-menu__icon{
		display: block;
		position: absolute;
		top: 38px;
		left: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
	}
	.header-menu__icon span,
	.header-menu__icon::before,
	.header-menu__icon::after{
		left: 0;
		position: absolute;
		height: 10%;
		width: 100%;
		transition: all 0.3s ease 0s;
		background-color: #000;
	}
	.header-menu__icon::before,
	.header-menu__icon::after{
		content: "";
	}
	.header-menu__icon::before{
		top: 0;
	}
	.header-menu__icon::after{
		bottom: 0;
	}
	.header-menu__icon span{
		top: 50%;
		transform: scale(1) translate(0px, -50%);
	}
	.header-menu__icon._active span{
		transform: scale(0) translate(0px, -50%);
	}
	.header-menu__icon._active::before{
		top: 50%;
		transform: rotate(-45deg) translate(0px, -50%);
	}
	.header-menu__icon._active::after{
		bottom: 50%;
		transform: rotate(45deg) translate(0px, 50%);
	}
}
@media (max-width:($md4+px)){
	.header-menu__icon{
		top:18px;
	}
}
//...............................................

// Меню

.stop-scrolling {
	height: 100%;
	overflow: hidden;
}

@media (max-width:($md2+px)){
	.header-menu{
		position: fixed;
		width: 100%;
		height: 100%;
		overflow: auto;
		left: -120%;
		top: 0;
		background-color: #fff;
		padding: 80px 10px 20px 10px;
		transition: 0.2s;
		&._active{
			left: 0;
			transition: 0.8s;
		}
	}
}
//=============================================

//Контент



.private {
	@include flexbox();
	background-color: #000;
	margin: 0 0 75px 0;
	@media (max-width:($md2+px)){
		margin: 0 0 40px 0;
	}

	&__column {
		flex: 0 0 50%;
		@media (max-width:($md2+px)){
			flex: 1 1 auto;
			&:first-child{
				display: none;
			}
		}
	}

	&__img {
		height: 100%;
	}
}

.private-body-countent{
	max-width: 305px;
	@media (max-width:($md2+px)){
	margin: 0 auto;
	}
}
.private-body {
	padding: 75px 20px 75px 60px;
	@media (max-width:($md2+px)){
		padding: 30px 20px 30px 30px;
	}

	&__title {
		font-family: 'AkzidenzGroteskBq';
		font-size: 50px;
		letter-spacing: 5px;
		text-transform: uppercase;
		color: #fff;
		margin: 0 0 30px 0;
		@media (max-width:($md2+px)){
			font-size: 35px;
			margin: 0 0 20px 0;
		}
	}

	&__text {
		font-size: 15px;
		line-height: 25px;
		color: #fff;
		margin: 0 0 50px 0;
		@media (max-width:($md2+px)){
			margin: 0 0 30px 0;
		}
	}
}
.private-body-buttons {
	@include flexbox();
	align-items: center;

	&__link {
		font-family: 'Bebas Neue', cursive;
		text-transform: uppercase;
		color: #fff;
		font-size: 15px;
		text-decoration: underline;
		margin: 0 0 0 15px;
		letter-spacing: 1.5px;
	}
}
.btn {
	height: 50px;
	line-height: 50px;
	background-color: #000;
	display: inline-block;
	padding: 0 33px;
	font-size: 15px;
	font-family: 'Bebas Neue', cursive;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 1.5px;
}
.btn--white {
	background-color: #fff;
	color: #000;
}

.ibg{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	}
	
.ibg img{
display: none;
}

//=====================================

.products {
	margin: 0 0 40px 0;
	@media (max-width:($md2+px)){
		margin: 0;
	}

	&__column {
		margin: 0 0 40px 0;
		flex: 0 0 25%;
		@media (max-width:($md2+px)){
			flex: 0 0 50%;
		}
		@media (max-width:390px){
			flex: 1 1 100%;
		}
	}
}

.products-body {
	@include flexbox();
	@media (max-width:($md2+px)){
		flex-wrap: wrap;
	}
}
.products-items {
	@include flexbox();
	flex-direction: column;
	height: 100%;


	&__image {
		display: block;
		padding: 0 0 100% 0;
		margin: 0 0 25px 0;
		@media (max-width:390px){
			margin: 0 0 15px 0;
		}
	}

	&__title {
		padding: 0 10px 0 0;
		display: block;
		max-width: 185px;
		font-size: 25px;
		font-family: 'AkzidenzGroteskBq';
		color: rgb(0, 0, 0);
		text-transform: uppercase;
		letter-spacing: 2.5px;
		margin: 0 0 30px 0;
		@media (max-width:390px){
			max-width: none;
			height: auto;
			overflow: visible;
			margin: 0 0 20px 0;
		}
		}

	&__text {
		flex: 1 1 auto;
		padding: 0 10px 0 0;
		max-width: 185px;
		font-size: 15px;
		line-height: 25px;
		margin: 0 0 20px 0;
		@media (max-width:390px){
			max-width: none;
			margin: 0 0 15px 0;
		}
	}

	&__btn {
		margin: 0 0 29px 0;
	}

	&__link {
		font-family: 'Bebas Neue', cursive;
		text-transform: uppercase;
		color: #000;
		text-decoration: underline;
		font-size: 15px;
		letter-spacing: 1.5px;
	}
}

//==================================================

.why-choose-us-top {
@include flexbox();
background-color: #000;

	&__column {
		flex: 0 0 50%;
		@media (max-width:($md1+px)) {
			flex: 1 1 100%;
			&:last-child {
				display: none;
			}
		}
	}

	&__text {
		font-size: 50px;
		text-align: right;
		font-family: 'AkzidenzGroteskBq';
		color: rgb(255, 255, 255);
		text-transform: uppercase;
		letter-spacing: 5px;
		padding: 50px 60px 50px 0;
		@media (max-width:($md1+px)){
			padding: 30px 0;
			text-align: center;
			font-size: 40px;
		}
		@media (max-width:($md2+px)){
			padding: 20px 0;
			text-align: center;
			font-size: 30px;
		}
	}

	&__image {
		height: 100%;
	}
}

.why-choose-us-body {
	padding: 50px 0 0 0;
	background-color: #ebebeb;
	@media (max-width:($md4+px)){
		padding: 30px 0 0 0;
	}

	&__column {
		flex: 0 0 50%;
		margin: 0 0 50px 0;
		@media (max-width:($md1+px)){
			flex: 1 1 100%;
		}
		@media (max-width:($md4+px)){
			margin: 0 0 30px 0;
		}
	}
}

.why-choose-us-body-row {
	@include flexbox();
	flex-wrap: wrap;
}
.why-choose-us-body-item {
	@include flexbox();

	&__icon {
		@include flexbox();
		justify-content: center;
		align-items: center;
		flex: 0 0 100px;
		height: 100px;
		background-color: #000;
		@media (max-width:($md4+px)){
			flex: 0 0 80px;
			height: 80px;
			padding: 15px;
			img{max-width: 100%;}
		}
	}
}
.why-choose-us-body-item-body {
	flex: 1 1 100%;
	@include flexbox();
	flex-direction: column;
	padding: 0 0 0 11px;

	&__title {
		font-family: 'AkzidenzGroteskBq';
		text-transform: uppercase;
		letter-spacing: 2.5px;
		font-size: 25px;
		@media (max-width:($md4+px)){
			font-size: 20px;
		}
	}

	&__text {
		font-size: 15px;
		padding: 0 15px 0 0;
		line-height: 25px;
	}
}

//=================================================

.contacts {
	padding: 80px 0 0 0;
	@media (max-width:($md2+px)){
		padding: 30px 0 0 0;
	}
}

.contacts-title {
	font-family: 'AkzidenzGroteskBq';
	text-transform: uppercase;
	font-size: 50px;
	letter-spacing: 5px;
	margin: 0 0 30px 0;
}
.contacts-body {
	@include flexbox();
	flex-wrap: wrap;

		&__column {
			flex: 0 0 50%;
			margin: 0 0 20px 0;
			@media (max-width:($md2+px)){
				flex: 1 1 100%;
			}
		}

		&__item {
			font-size: 15px;
			color: #000;
			display: inline-block;
			line-height: 27px;
			padding: 0 0 0 35px;
		}

		&__item--1 {
			background: url('../img/contacts/1.svg') left no-repeat;
		}

		&__item--2 {
			background: url('../img/contacts/2.svg') left no-repeat;
		}

		&__item--3 {
			background: url('../img/contacts/3.svg') left no-repeat;
		}
}
.contacts-social {
	@include flexbox();

		&__item {
			margin: 0 30px 0 0;
			&:last-child{margin: 0;}
		}
}
.contacts-content {
	@include flexbox();
	background-color: #000;
	@media (max-width:($md2+px)){
		display: block;
	}

		&__column {
			flex: 0 0 50%;
		}

		&__map {
			height: 100%;
			@media (max-width:($md2+px)){
				height: 300px;
			}
			
		}
}
.contacts-content-form {
	padding: 55px 60px;
	@media (max-width:($md2+px)){
		padding: 30px;
	}

	font-family: 'AkzidenzGroteskBq';
	text-transform: uppercase;
	color: #fff;
	font-size: 25px;
	letter-spacing: 5px;
	margin: 0 0 30px 0;
}
.contacts-content-form-body {
	max-width: 375px;
	@media (max-width:($md2+px)){
		max-width: none;
	}
}
.contacts-content-form-line {
	margin: 0 0 25px 0;
}
input[type=text], input[type=email], input[type=tel],texttarea{-webkit-appearance: none;-moz-appearance: none;appearance: none;}
.input {
	border-radius: 0 !important;
	width: 100%;
	display: block;
	padding: 0 18px;
	height: 50px;
	border: 2px solid #959595;
	background-color: #252525;
	color: #959595;
	font-size: 15px;
}
textarea.input{
	resize: none;
	height: 100px;
	padding: 10px 18px;
}


//=========================================================

.footer-body {
	@include flexbox();
	height: 125px;
	justify-content: space-between;
	align-items: center;
	@media (max-width:($md2+px)) {
		height: auto;
		padding: 15px 0;
		flex-direction: column;
	}

		&__column {
			@media (max-width:($md2+px)){
				&:first-child{
				order: 2;
				}
				&:last-child{
					order: 1;
					margin: 0 0 15px 0;
				}
			}
		}
}
.footer {

		&__text {
			color: #4d4d4d;
			font-size: 15px;
			line-height: 25px;
			a{
				text-decoration: underline;
				color: #4d4d4d;
				&:hover{
					text-decoration: none;
				}
			}
			@media (max-width:($md2+px)){
				text-align: center;
			}
		}

}



